/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
}

.font-22px {
    font-size: 1.375em;
    font-weight: 700;
}

.font-18px {
    font-size: 1.125em;
    font-weight: 700;
}

.font-17px {
    font-size: 1.0625em;
    font-weight: 700;
}

.font-16px-700 {
    font-size: 1em;
    font-weight: 700;
}

.font-16px-400 {
    font-size: 1em;
    font-weight: 400;
}

.font-14px {
    font-size: 0.875em;
    font-weight: 400;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.hebergements-card-link {
    width: 30%;
    margin-top: 30px;
    text-decoration: none;
}

.activites-card-link {
    width: 22.2%;
    margin-top: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header {
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

header img {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-left: 0px;
    gap: 68px;
}

header li:hover {
    height: 2px;
    background: var(--main-color);
}

header a {
    display: block;
    margin-top: 16px;
}

header a:hover {
    color: var(--main-color);
}

/****** Search form ***********/

.search-form {
    margin-bottom: 35px;
}

.search-form-title p {
    margin-top: 8px;
    margin-bottom: 35px;
}

.search-bar {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
}

.location-icon {
    width: 50px;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot {
    display: block;
    margin: 16px 18px;
    color: #000000;
    font-size: larger;
}

.search-area {
    width: 195px;
    height: 49px;
    border-top: 2px solid var(--main-bg-color);
    border-right-width: 0;
    border-bottom: 2px solid var(--main-bg-color);
    border-left-width: 0;
    text-align: center;
}

.search-button {
    width: 132px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    ;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 35px;
}

.filter-button {
    width: 167px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filter-button:hover {
    background: var(--filter-bg-color);
}

.filter-icon {
    font-size: larger;
    display: inline-block;
    padding-right: 10px;
}


.info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid #D9D9D9;
    margin-right: 10px;
}

.fa-info{
    display: block;
    margin: 5px 10px 7px 10px;
    font-size: smaller;
    color: var(--main-color);
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    height: 134px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.show-more {
    margin-top: 30px;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
    margin-top: 0px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activites ***********/

.activites {
    margin-bottom: 35px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activites-card {
    height: 439px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-cards img {
    height: 86.56%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards .card-content {
    height: 13.44%;
}

.activites-cards .card-title {
    margin: 20px 19px;
}

/****** footer ***********/

.footer {
    height: 163px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-card {
    width: 33%;
}

.footer ul {
    list-style: none;
    padding-left: 0px;
}

.footer li {
    margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Large devices (more than 1440px) */

@media (min-width: 1440.98px) {
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    /* ... */
}